@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thêm font Inter và các style chung */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tùy chỉnh các animation dùng trong HomePage */
@keyframes bounce-slow {
    0%, 100% { transform: translateY(-5%); }
    50% { transform: translateY(5%); }
}

.animate-bounce-slow {
    animation: bounce-slow 4s infinite ease-in-out;
}